#!/bin/bash

set -x

{{ SCRIPTDIR }}/reset-appliance.sh

NAME=podmanlab

cd /student/student$stdid/



ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'oc delete project my-project-$stdid' && /bin/true
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'oc delete project declarative-$stdid' && /bin/true
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'oc delete patient-portal-$stdid' && /bin/true
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'podman rm --all --force\' && /bin/true
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'systemctl --user stop frontend.service-$stdid' && /bin/true
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'systemctl --user stop payment-processor.service-$stdid' && /bin/true
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'systemctl --user stop database.service-$stdid' && /bin/true
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'podman rm --all --force\' && /bin/true
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'podman stop -i --all\' && /bin/true
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'podman network prune --force\' && /bin/true
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'podman volume prune --force\' && /bin/true
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'podman pod prune --force\' && /bin/true
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'podman image prune --force\' && /bin/true$stdid
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su -  -c \'rm -rf /student/student$stdid/.config/containers/systemd/* \' && /bin/true
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'systemctl --user daemon-reload' && /bin/true
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su -  -c \'rm -rf /student/student$stdid/.local \' && /bin/true
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su -  -c \'rm -rf /student/student$stdid/my-persistent-storage-$stdid\' && /bin/true
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su -  -c \'rm -rf /student/student$stdid/my-deployment-service-route-$stdid.yaml my-deployment-$stdid.yaml database-$stdid.yml frontend-$stdid.yml payment-processor-$stdid.yml \' && /bin/true
exit 0

