#!/bin/bash

#set -x

echo "Prepare the Podman APPLIANCE VM"

NAME=podmanlab

mkdir -p $HOME/$NAME
cd $HOME/$NAME
# Rename bash init script creating issue with %login in jupyter notebook

mv /etc/profile.d/which2.sh /etc/profile.d/which2.sh.bak
# Clean before
