---
  - name: Setup first the podman context (packages, deps, ...)
    include_tasks: "{{ ANSIBLEDIR }}/install_podman.yml"

  - name: Ensure Linux students users belong to the docker group
    become: true
    become_user: root
    user:
      name: "{{ 'student%s' | format(item) }}"
      state: present
      append: true
      groups: "podman"
    loop: "{{ range( APPMIN|int, APPMAX|int )|list }}"
